<%= render partial: 'layouts/user_header', locals: { user: @user } %>
<div class="user-subtitle">All Posts</div>
<% @user.posts.each do |post| %>
  <%= render partial: 'layouts/post_header', locals: { post: post , from: 'post/index' } %>
  <%= render partial: 'layouts/comments_list', locals: { comments: post.recent_comments } %>
<% end %>
