<div class="user-container">
  <div class="user-avatar-container">
    <img src="<%= url_for(user.photo) %>" class="user-avatar" alt="User image thumbnail">
  </div>
  <div class="user-content">
      <p class="user-title"><%= link_to user.name, user_path(user.id) %></p>
      <div class="user-content-right">
        <%= link_to 'New Post', new_user_post_path(user.id), class: "new-post-button" %>
        <p class="user-text">Number of posts: <%= user.posts_counter %></p>
      </div>
  </div>
</div>